## Let's Clean some Data!

In [89]:
import pandas as pd
import numpy as np

In [90]:
# Provide just the filename since it's in the same folder
filepath = "attacks.csv"

# read the CSV file
raw_df = pd.read_csv(filepath, encoding='latin1')

In [91]:
raw_df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,9-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,8-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,4-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [ ]:
# change case number to index

In [92]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6302 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [93]:
raw_df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [ ]:
# rename fatal

In [94]:
raw_df.columns = raw_df.columns.str.strip()
raw_df.columns = [x.lower().replace(" ", "_") for x in raw_df.columns]

In [95]:
raw_df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [96]:
# drop unnessary columns
cols = ['date', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time', 'species']
df = raw_df.loc[:, cols]
df.head()

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
0,25-Jun-18,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,9-Jun-18,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,8-Jun-18,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,4-Jun-18,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         6302 non-null   object
 1   year         6300 non-null   float64
 2   type         6298 non-null   object
 3   country      6252 non-null   object
 4   area         5847 non-null   object
 5   location     5762 non-null   object
 6   activity     5758 non-null   object
 7   name         6092 non-null   object
 8   sex          5737 non-null   object
 9   age          3471 non-null   object
 10  injury       6274 non-null   object
 11  fatal_(y/n)  5763 non-null   object
 12  time         2948 non-null   object
 13  species      3464 non-null   object
dtypes: float64(1), object(13)
memory usage: 2.7+ MB

In [98]:
# see what values are in the 'sex' series and start to clean column
df["sex"].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

In [99]:
# clean column 'sex'
# create a mask
sex_check = df.loc[df["sex"].isin(["nan", "lli", "N", "."])]

# print the rows there are in to view data
# print(sex_check) # with only 4 rows of data - feel safe to delete
df = df.drop(sex_check.index)

# now look at the 'M ' and change to standard 'M'
replace = {"M ": "M"}

# replace
df["sex"] = df["sex"].replace(replace)

# take a look after cleaning sex column -  should be M, F and nan
df.sex.unique()

array(['F', 'M', nan], dtype=object)

In [100]:
df.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

In [101]:
# change to provoked and unprovoked

# clean column 'type'
# create a mask
type_check = df.loc[df["type"].isin(["Boatomg"])]

# print the rows there are in to view data
print(type_check) # shows just 1 row

# change 'Boatomg' to and 'Boat' to 'Boating'to condense data 
type_replace = {"Boatomg": "Boating", "Boat": "Boating"}

# replace
df["type"] = df.type.replace(type_replace)

# check unique valuse in type
df.type.unique()

          date    year     type      country          area  location activity  \
1152  1-Mar-09  2009.0  Boatomg  NEW ZEALAND  North Island  Taranaki  Fishing

                                                 name sex  age  \
1152  boat, occupants: Boyd Rutherford & Hamish Roper   M  NaN

                                           injury fatal_(y/n) time species
1152  No injury to occupants, shark bit propeller           N  NaN     NaN

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan], dtype=object)

In [102]:
df["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [103]:
# clean column 'fatal'
# create a mask
fatal_check = df.loc[df["fatal_(y/n)"].isin(["M", "2017"])]

# print the rows there are in to view data
print(fatal_check) # with only 2 rows of data - feel safe to delete
df = df.drop(fatal_check.index)

# take ' N ' 'N ' and 'y ' and fix typos
fatal_replace = {" N": "N", "N ": "N", "y": "Y"}

# replace
df["fatal_(y/n)"] = df["fatal_(y/n)"].replace(fatal_replace)

# take a look after cleaning sex column -  should be M, F and nan
df["fatal_(y/n)"].unique()

          date    year      type           country      area      location  \
285  18-Apr-16  2016.0  Provoked  FRENCH POLYNESIA  Tuamotos  Makemo Atoll
786  10-Jun-12  2012.0  Provoked             ITALY  Sardinia      Muravera

                                            activity          name sex age  \
285                                     Spearfishing   Hoata Iotua   M  22
786  Attempting to rescue an injured & beached shark  Giorgio Zara   M  57

                                                injury fatal_(y/n)     time  \
285  Laceration to knee by speared shark PROVOKED I...           M  Morning
786           Lower left leg injured PROVOKED ACCIDENT        2017  Morning

                  species
285  Grey reef shark, 2 m
786      Blue shark, 2.5m

array(['N', 'Y', nan, 'UNKNOWN'], dtype=object)

In [104]:
df.year.unique()

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.,  500.,   77.,    5.,    0.])

In [105]:
print(df.year.dtype)

float64

In [106]:
# clean column 'year'
# create a mask
year_check = df.loc[df["year"].isin([500, 77, 5])]

# print the rows there are in to view data
print(year_check) # shows just 3 rows feel safe to remove
df = df.drop(year_check.index)

# change the '0' years to nan to better represent non values
df.year = df.year.replace(0, np.nan)

df.year.unique()

                date   year        type    country             area location  \
6174  Circa 500 A.D.  500.0  Unprovoked     MEXICO              NaN      NaN
6175        77  A.D.   77.0  Unprovoked        NaN       Ionian Sea      NaN
6176      Ca. 5 A.D.    5.0  Unprovoked  AUSTRALIA  New South Wales    Bondi

           activity   name sex  age  \
6174            NaN   male   M  NaN
6175  Sponge diving  males   M  NaN
6176            NaN   male   M  NaN

                                                 injury fatal_(y/n) time  \
6174                                       Foot severed           N  NaN
6175                                              FATAL           Y  NaN
6176  Aboriginal rock carving depicts man being atta...           N  NaN

     species
6174     NaN
6175     NaN
6176     NaN

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.])

In [107]:
# standardize column 'date'
# get rid of any words added to the date
df.date = df.date.astype(str)
df.loc[df["date"].str.startswith("Reported "), "date"] = df.date.str.replace("Reported ", "")

# standardize dates
df.date = pd.to_datetime(df.date, errors="coerce")
df.head(20)

C:\Users\Kelsey\AppData\Local\Temp\ipykernel_592\2743312903.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.date = pd.to_datetime(df.date, errors="coerce")

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
5,2018-06-03,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN
6,2018-06-03,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark
7,2018-05-27,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'"
8,2018-05-26,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'"
9,2018-05-26,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN
10,2018-05-24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Minor bite to hand by captive shark. PROVOKED ...,N,Morning,Grey reef shark
11,2018-05-21,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,10,Injuries to lower right leg and foot,N,NaN,NaN
12,2018-05-13,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,Severe bite to right forearm,N,15h00,NaN
13,2018-05-13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,21,Injured by teeth of a dead porbeagle shark he ...,N,08h15,Invalid incident
14,NaT,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,34,Shallow lacerations to finger PROVOKED INCIDENT,N,NaN,"Tawny nurse shark, 2m"
15,2018-05-12,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,NaN,"Minor injury, marks on board",N,11h00,NaN
16,2018-05-09,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,NaN,"No injury, surfboard damaged",N,10h30,Shark involvement not confirmed
17,2018-04-30,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,NaN,Minor injury to ankle,N,NaN,NaN
18,2018-04-28,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,30,"No injury, shark bit scuba gear",N,10h40,Tiger shark
19,2018-04-28,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,NaN,"No injury, knocked off board by shark",N,16h50,NaN

In [108]:
df.head()

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

In [109]:
df.columns

Index(['date', 'year', 'type', 'country', 'area', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time', 'species'],
      dtype='object')

In [110]:
# take a look at value counts of activity to see the differnt categories
df.activity.value_counts()

activity
Surfing                                   970
Swimming                                  869
Fishing                                   430
Spearfishing                              332
Bathing                                   162
                                         ...
Leaving the water                           1
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Wreck of  large double sailing canoe        1
Name: count, Length: 1530, dtype: int64

In [111]:
# change any individual activities into 'other' 
unique_activity = df.activity.value_counts()[df.activity.value_counts() == 1].index.tolist()
df.loc[df.activity.isin(unique_activity), "activity"] = "Other"

# create key words to search for to simplify activity values
activity_key_dict = {
    "Surf": "Surfing",
    "board": "Surfing",
    "Swim": "Swimming",
    "Treading": "Swimming",
    "Fish": "Fishing",
    "Float": "Floating",
    "Kite": "Kitboarding",
    "Disaster": "Accident",
    "drifted": "Accident",
    "overboard": "Accident",
    "capsized": "Accident",
    "sank": "Accident",
    "wreck": "Accident",
    "crash": "Accident",
    "sunk": "Accident",
    "Navy": "Accident",
    "fell": "Accident",
    "sharks": "Handling",
    "shark": "Handling",
    "diving": "Diving"
}
# fill any null values
df["activity"] = df["activity"].fillna("")

# apply all search keys to values in activites to sort unique vaules into categories for plotting
for search_key, activity in activity_key_dict.items():
    contains_search_key = df.activity.str.contains(search_key, case=False)
    df.loc[contains_search_key, "activity"] = activity

In [112]:
df.activity.value_counts()

activity
                                19963
Surfing                          1329
Other                            1313
Swimming                          978
Fishing                           925
                                ...
Standing in waist-deep water        2
Beach seine netting                 2
Cruising                            2
Sitting in shallows                 2
Bathing in river                    2
Name: count, Length: 62, dtype: int64

In [113]:
df.activity.unique()

array(['Paddling', 'Standing', 'Surfing', 'Diving', 'Swimming', 'Fishing',
       'Walking', 'Handling', 'Other', 'Wading', 'Snorkeling', '',
       'Kayaking', 'Canoeing', 'SUP', 'Floating', 'Accident',
       'Playing in the water', 'Playing', 'Sitting in the water',
       'Transatlantic Rowing', 'Rowing', 'Kayaking ', 'Sailing',
       'Bathing', 'Jet skiing', 'Washing his feet', 'Crabbing', 'Jumping',
       'Jumped into the water', 'Murder', 'Lifesaving drill',
       'Competing in the Woodvale Atlantic Rowing Race', 'Unknown',
       'Cruising', 'Splashing', 'Rowing ', 'Standing ', 'Boat',
       'Paddleskiing', 'Sitting in shallows', 'Clamming',
       'Beach seine netting', 'Dangling feet in the water',
       'Standing in waist-deep water', 'Sitting on gunwale of boat',
       'Escaping from Alacatraz', 'Washing', 'Splashing ', 'Ocean racing',
       'Collecting shells', 'Standing in knee-deep water', 'Boating',
       'Suicide', 'Bathing ', 'Sculling', 'Seine netting',
       'Dived for a coin', 'Netting shrimp', 'Boat swamped', '.',
       'Bathing in river'], dtype=object)

In [114]:
df.head()

,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species
0,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,2018-06-18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,2018-06-09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,2018-06-04,2018.0,Provoked,MEXICO,Colima,La Ticla,Diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"

In [115]:
# show value counts of species 
df.species.value_counts()

species
White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
1.9 m [6.5'] bull shark                                                                                                            1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1546, dtype: int64

In [123]:
# change any individual activities into 'other' 
unknown_species = df.species.value_counts()[df.species.value_counts() == 1].index.tolist()
df.loc[df.species.isin(unknown_species), "species"] = "Unknown"
# make any blank entries unknown species
df["species"] = df["species"].fillna("Unknown")

# create key words to search for to simplify species values
species_key_dict = {
    "bull": "Bull Shark",
    "tiger": "Tiger Shark",
    "lemon": "Lemon Shark",
    "nurse": "Nurse Shark",
    "white": "Great White Shark",
    "wobbegong": "Wobbegong Shark",
    "reef": "Reef Shark",
    "Blacktip": "Blacktip Shark",
    "Hammerhead": "Hammerhead Shark",
    "Mako": "Mako Shark",
    "Zambesi": "Zambesi Shark",
    "Raggedtooth": "Raggedtooth Shark",
    "not confirmed": "Unidentified",
    "unconfirmed": "Unidentified",
    "Invalid": "Unidentified",
    "Bronze": "Bronze Whaler Shark"
}

# apply all search keys to values in activites to sort unique vaules into 
for search_key, species in species_key_dict.items():
    contains_search_key = df.species.str.contains(search_key, case=False)
    df.loc[contains_search_key, "species"] = species

In [124]:
df.species.value_counts()

species
Unknown                 23471
Great White Shark         401
Unidentified              385
Tiger Shark               170
Bull Shark                107
                        ...
4.5' shark                  2
3.5 m [11.5'] shark         2
20 to 30kg shark            2
Whale shark                 2
Juvenile dusky shark        2
Name: count, Length: 143, dtype: int64

In [125]:
df.species.unique()

array(['Great White Shark', 'Unknown', '2 m shark', 'Tiger Shark',
       'Bull Shark', 'Reef Shark', 'Unidentified', 'Questionable',
       '3 m shark', "6' shark", 'Wobbegong Shark', '3.5 m shark',
       '1.8 m shark', 'Blacktip Shark', '2m shark', 'small shark',
       "8' shark", "5' shark", "4' to 5' shark", "5' to 6' shark",
       'Nurse Shark', 'Shark involvement questionable', "4' shark",
       'A small shark', '"A small shark"', 'Seven-gill shark', "3' shark",
       "9' shark", "10' shark", 'Lemon Shark', 'a small shark',
       "3' to 4' shark", 'Blue shark', 'Angel shark', "3' to 5' shark",
       'Mako Shark', 'Bronze Whaler Shark', 'No shark involvement',
       'Galapagos shark', 'juvenile shark', 'Hammerhead Shark',
       'Shark involvement not cofirmed', '5 m shark', '1.5 m shark',
       "2' shark", "12' to 14' shark", '1 m shark', "8' to 10' shark",
       "7' shark", 'Spinner shark', "4' to 6' shark", "6' to 8' shark",
       '1m shark', '7-gill shark', 'Salmon shark', '"small sharks"',
       '2.5 m shark', "2' to 3' shark", "3.5' to 4' shark", "15' shark",
       '18" to 24" shark', 'Raggedtooth Shark', "10' to 12' shark",
       '2 to 2.5 m shark', '4 m shark', 'Zambesi Shark',
       '20 to 30kg shark', "14' shark", '2 m to 3 m shark', "3'  shark",
       'Basking shark', '"a small shark"', 'Possibly a spinner shark',
       'Sand shark', ' ', 'Questionable Incident', '2.5 to 3 m shark',
       "12' shark", "1.8 m [6'] shark", '"small shark"',
       "4 m [13'] shark", "3 m [10'] shark", "2.4 m [8'] shark",
       "1.2 m [4'] shark", "1.2 m to 1.5 m [4' to 5'] shark",
       "0.9 m to 1.5 m [3' to 5'] shark", 'small sharks',
       'Shark involvement doubtful', 'Unidentified species',
       "1.5 m to 1.8 m [5' to 6'] shark", '"sand shark"',
       "0.9 m to 1.2 m [3' to 4'] shark", 'A \x93small\x94 shark',
       '\xa0 ', "0.9 m [3'] shark", "1.5 m [5'] shark",
       "2 m [6.75'] shark", "6 m [20'] shark",
       "2 m to 2.5 m [6.75'  to 8.25'] shark", 'Sevengill shark',
       'Possibly a sand shark', "1.8 m to 2.1 m [6' to 7'] shark",
       '"sand" shark', "3.7 m [12'] shark", "2.7 m [9'] shark",
       "2.1 m [7'] shark", 'Questionable incident', "1.8 m [6'] shark ",
       "1.8 m to 2.4 m [6' to 8'] shark",
       "1.5 m to 2 m [5' to 6.75'] shark", '6 m shark',
       "2.5 m [8.25'] shark", "4.5' shark", "3.5 m [11.5'] shark",
       '2 m [6\'9"] shark', 'Whale shark', 'Juvenile dusky shark',
       "8' blue shark", 'Carpet shark', 'A pack of 6 sharks',
       "4.6 m [15'] shark", "1.8 m [6'], 180-lb shark",
       'Dusky shark, 1 m ', "5.5 m [18'] shark", "4.3 m [14'] shark",
       "1.2 m  [4'] shark", 'Blue pointer', '200-lb shark',
       "Sharks averaged 1.8 m [6'] in length", "2.3 m [7'] shark",
       "2.4 m [8']  shark", "20' shark", "a small shark'",
       'Possibly C. leucas', "6 m [20']  shark", "18' shark",
       '"a large shark"', '2 sharks', '3 sharks', '"a dog shark"',
       "13' shark", 'Shark involvement probable', "16' shark"],
      dtype=object)